/* small ----------- */
@media only screen and (min-width : 320px) and (max-width : 767px) {
    .header__container__phone {
        display: none;
    }
	.header {
		&__container {
			height: 55px;
            background-color: #fff;
			&__norbit-logo,
			&__sap-logo {
			}
			&__menu-button {
				position: absolute;
	            right: 20px;
	            top: 16px;
			}
            &__wrapper__contacts {
                display: none;
            }
            &__contact {
                width: 175px;
                text-align: left;
                margin: 0 auto;
            }
		}
        &__menu {
            position: fixed;
            top: -40px;
            background-color: #fff;
            height: 95px;
            width: 100%;
            &__wrapper {
                border-top: 1px solid #e6e6e6;
                &__inner {
                    display: flex;
                    align-items: center;
                    height: 47px;
                    border-top: 1px solid #e6e6e6;
                }
            }
        }
	}

	.content-wrapper {
		padding-top: 55px;
		&__content {
			&__screen-1 {
				padding: 0 20px;
                padding-bottom: 15px;
				&__sap-hybris {
					&-logo {
						margin: 12px 0 30px 0;
					}
				}
                &__block-2 {
        			margin-top: 50px;
        		}
        		&__block-3 {
        			margin-top: 50px;
        			&__subpair {
        				margin: 0 auto;
        			}
        		}
			}
            &__screen-2 {
                &__form {
        			display: flex;
        			flex-flow: column;
        			padding: 36px 0 0px 0;
                    &__submit {
                        display: flex;
                        justify-content: center;
                    }
        			&__pair {
        				display: flex;
        				flex-flow: column;
                        &__subpair {
                            width: 256px;
                            height: 70px;
                            margin: 0 auto;
                        }
        			}
        		}
                &__header-white {
                    font-family: $default;
                    font-weight: 300;
                    font-size: 20px;
                    text-align: center;
                    padding: 45px 0 20px 0;
                    width: 285px;
                    margin: 0 auto;
                }
                &__form-white {
                    &__pair-white {
                        width: 285px;
                        margin: 0 auto;
                    }
                    &__submit-white {
                        width: 285px;
                        margin: 0 auto;
                        padding-bottom: 54px;
                    }
                }
            }
            &__screen-3 {
                &__list li {
                    margin-top: 14px;
                }
                &__commerce-block {
                    &__commerce-icon2 {
                        display: flex;
                        justify-content: center;
                        padding-bottom: 30px;
                        margin: 0 auto;
                    }
                }
                &__header-text {
                    width: 300px;
                }
                &__space {
                    height: 85px;
                }
            }
            &__screen-5 {
                &__block {
                    &__text {
                        width: 250px;
                    }
                }
                &__scheme-block {
                    max-width: 1160px;
                    // min-width: 320px;
                    margin: 0 auto;
                    &__img-small {
                    }
                }

            }
			&__screen-6 {
				&__header {
					&__line {
						display: none;
					}
			    }
            }
            &__screen-7 {
                &__wrapper {
                    padding-top: 60px;
                }
            }
            &__screen3and7wrapper {
                margin-top: -50px;
            }
	}
    .header-fix {
        width: 280px;
        margin-left: -140px;
    }
    .popUp {
        position: fixed;
        top: 20%;
        z-index: 10000;
        &__overlay {
            background-color: rgba(25, 24, 24, 0.73);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
        }
        &__container {
            // margin: 0 5px;
            z-index: 10000000;
            &__close-btn {
                display: flex;
                height: 40px;
                justify-content: flex-end;
                padding: 10px;
                opacity: 0.5;
            }
            &__img {
                max-width: 100%;
            }
        }
    }
}
    .input-white {
        width: 285px;
    }
    .button-white {
        width: 285px;
        font-weight: bolder;
    }
    .error {
        position: relative;
        bottom: 8px;
        left: 22px;
        width: 255px;
    }
    .error-black {
        position: relative;
        left: 4px;
        top: 38px;
        width: 255px;
    }
    .error-white {
        left: 21px;
        top: -2px;
    }
    .error-mail-white {
        left: -157px;
        top: -2px;
    }
    .error-mail {
        height: 0px;
        position: relative;
        top: -18px;
        left: -43px;
        white-space: nowrap;
        visibility: hidden;
    }
    .error-mail-black {
        height: 0px;
        position: relative;
        top: -21px;
        left: -157px;
        white-space: nowrap;
        visibility: hidden;
    }
    .input-black {
        margin-bottom: 23px;
        width: 255px;
    }
    .button-fix {
        padding-right: 3px;
    }
    #menu {
        transition: .4s all ease-in-out;
        z-index: -10;
    }
    .menu-open {
        transform: translateY(94px);
    }
    .display-none {
        display: none;
    }
    .fix-1 {
        padding-top: 0;
    }
    .input-black {
        position: absolute;
    }
    .input-check {
        &__checked-icon {
            &-white {
                top: -27px;
                left: 258px;
            }
        }
        &__exclamation-icon {
            &-white {
                top: -28px;
                left: 250px;
            }
        }
    }

}
/* medium ----------- */
@media only screen
and (min-width : 768px) and (max-width : 1365px) {
    #popUp {
        display: none;
    }
	.content-wrapper {
		padding-top: 65px;
		&__content {
            &__colored-list {
                padding-left: 30px;
                padding-top: 5px;
            }
			&__screen-1 {
				padding: 0 20px;
				&__sap-hybris-logo {
					margin: 12px 0 30px 0;
				}
                &__sap-hybris-text {
                    max-width: 710px;
                    margin: 0 auto;
                    text-align: center;
                    font-size: 34px;
                    font-family: $default;
                    color: rgb(255, 255, 255);
                    line-height: 1.2;
                }
				&__block-1 {}
				&__block-2 {
                    max-width: 545px;
                    margin: 75px auto;
                }
				&__block-3 {
					&__subpair {
						margin: 0 85px;
					}
					&__pair-1,
					&__pair-2 {
						display: flex;
						justify-content: center;
					}
				}
			}
            &__screen-2 {
                &__form {
                    display: flex;
                    max-width: 560px;
                    margin: 0 auto;
                    &__pair {
                        margin-top: 47px;
                        &__subpair {
                            height: 63px;
                        }
                    }
                }
            }
            &__screen-2 {
                &-white {
                    height: 300px;
                    margin: 40px 10px;
                }
                &__header-white {
                    font-family: $default;
                    font-weight: 300;
                    font-size: 20px;
                    text-align: center;
                    padding: 40px 0 30px 0;
                    margin: 0 auto;
                }
                &__form-white__pair-white {
                    display: flex;
                    justify-content: space-between;
                    width: 586px;
                    margin: 0 auto;
                    &__subpair {
                        width: 285px;
                        height: 62px;
                    }
                }
                &__form-white__submit-white {
                    width: 586px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: flex-end;
                }
            }
            &__screen-3 {
                &__block-1 {
                    margin: 20px auto;
                    padding-top: 30px;
                }
                &__line {
                    position: relative;
                    top: 46px;
                    margin: 0 30px;
                    border-bottom: 1px solid black;
                    z-index: 0;
                }
                &__commerce-block {
                    &__description__text-sub {
                        margin-left: 10px;
                    }
                    &-pair {
                        display: flex;
                    }
                }
                &__wrapper {
                    width: 100%;
                }
                &__header-text {
                    width: 400px;
                    margin-left: -200px;
                    &-advantages {
                        width: 300px;
                        margin-left: -150px;
                    }
                    &-contacts {
                        width: 200px;
                        margin-left: -100px;
                    }
                }
                &__list {
                    margin-left: 65px;
                }
                &__list li {
                    margin-top: 20px;
                }
            }
            &__screen-5 {
                &__blocks-wrapper {
                    display: flex;
                    justify-content: space-around;
                }
                &__block__text {
                    width: 150px;
                }
            }
			&__screen-6 {
				&__header {
					&__text {}
					&__line {
						width: 40%;
						margin: 0 30px 13px 30px;;
						border-bottom: 1px solid #fff;
					}
				}
			}
            &__screen-7 {
                &__wrapper {
                    display: flex;
                    max-width: 700px;
                    margin: 0 auto;
                    &__container__wrapper {
                        width: 200px;
                    }
                }
                &__space {
                    margin-top: 100px;
                }
            }
            &__screen3and7wrapper {
                margin-top: 50px;
            }
		}
	}
    .margin-top50px {
        margin-left: 10px;
    }
    .error {
        position: relative;
        left: -16px;
        top: 3px;
        width: 255px;
    }
    .error-black {
        position: relative;
        left: 22px;
        top: -2px;
        width: 255px;
    }
    .error-mail {
        height: 0px;
        position: relative;
        top: -7px;
        left: -81px;
        white-space: nowrap;
        visibility: hidden;
    }
    .error-mail-black {
        height: 0px;
        position: relative;
        top: -2px;
        left: -156px;
        white-space: nowrap;
        visibility: hidden;
    }
    .input {
        width: 255px;
    }
    .input-white {
        width: 285px;
    }
    .button-white {
        width: 285px;
    }
    .error-white {
        position: relative;
        left: 20px;
        top: -2px;
        width: 255px;
    }
    .error-mail-white {
        position: relative;
        left: -150px;
        top: -2px;
        width: 255px;
    }
    .input-check {
        &__checked-icon {
            top: 1px;
            left: -28px;
            &-white {
                top: -27px;
                left: 258px;
            }
        }
        &__exclamation-icon {
            top: 0px;
            left: -35px;
            &-white {
                top: -28px;
                left: 250px;
            }
        }
    }
}

// Общие стили для 768 и 1920px
@media only screen
and (min-width : 768px) {
    .header {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            max-width: 1160px;
            margin: 0 auto;
        }
        &__menu {
            display: none;
        }
        &__container {
            height: 65px;
            &__norbit-logo,
            &__sap-logo {
            }
            &__menu-button {
                display: none;
            }
            &__contact {
                display: flex;
                align-items: center;
                margin-left: 25px;
            }
            &__wrapper__contacts {
                display: flex;
                margin-right: 10px;
            }
            &__phone__phone-icon {
                margin-bottom: 4px;
            }
        }
    }
    .content-wrapper {
        padding-top: 65px;
        &__content {
            &__colored-list {
                padding-left: 30px;
            }
            &__screen-1 {
                padding: 0 20px;
                padding-bottom: 15px;
                &__sap-hybris-logo {
                    margin: 12px 0 30px 0;
                }
                &__sap-hybris-text {
                    max-width: 710px;
                    margin: 0 auto;
                    text-align: center;
                    font-size: 34px;
                    font-family: $default;
                    color: rgb(255, 255, 255);
                    line-height: 1.2;
                }
                &__block-1 {
                    max-width: 1118px;
                    margin: 0 auto;
                }
                &__block-2 {
                    max-width: 545px;
                    margin: 75px auto;
                }
                &__block-3 {
                    &__subpair {
                        margin: 0 85px;
                    }
                    &__pair-1,
                    &__pair-2 {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            &__screen-2 {
                height: 200px;
                &-white {
                }
                &__form {
                    &__pair {
                    }
                    &__submit {
                    }
                }
            }
            &__screen-3 {
                &__header-text {
                    width: 500px;
                    margin-left: -250px;
                }
            }
        }
    }
}
/* large ----------- */
@media only screen and (min-width : 1366px) {
	.content-wrapper__content {
        &__colored-list {
            padding-top: 43px;
        }
	    &__screen-1 {
            &__block-2__list {
                display: flex;
	        }
            &__sap-hybris-text {
                max-width: 870px;
            }
            &__block-2 {
                max-width: 858px;
                &__list {
                    display: flex;
                    justify-content: space-between;
                }
            }
            &__block-3 {
                display: flex;
                justify-content: center;
                &__subpair {
                    margin: 0 75px;
                }
            }
        }
        &__screen-2 {
            height: 120px;
            &__form {
                display: flex;
                justify-content: center;
                padding: 37px 0 0 0;
                width: 1146px;
                margin: 0 auto;
                &__pair {
                    display: flex;
                    &__subpair {
                        width: 255px;
                        margin: 0px 17px;
                    }
                }
                &__submit {
                }
            }
        }
        &__screen-2 {
            &-white {
                height: 300px;
            }
            &__header-white {
                font-family: $default;
                font-weight: 300;
                font-size: 20px;
                text-align: center;
                padding: 40px 0 30px 0;
                margin: 0 auto;
            }
            &__form-white__pair-white {
                display: flex;
                justify-content: space-between;
                width: 586px;
                margin: 0 auto;
                &__subpair {
                    width: 285px;
                    height: 62px;
                }
            }
            &__form-white__submit-white {
                width: 586px;
                margin: 0 auto;
                display: flex;
                justify-content: flex-end;
            }
        }
        &__screen-3 {
            display: flex;
            width: 1170px;
            margin: 0 auto;
            padding-bottom: 40px;
            &__header {
                max-width: 1160px;
                margin: 0 auto;
            }
            &__space-fix {
                display: none;
            }
            &__line {
                position: relative;
                top: 45px;
                border-bottom: 1px solid black;
                max-width: 1160px;
                margin: 0 auto;
            }
            &__commerce-block-pair {
                display: flex;
                width: 570px;
            }
            &__commerce-block {
                &__description__text {
                    width: 360px;
                }
            }
            &__list li {
                margin-top: 2px;
            }
            &__wrapper {
                width: 580px;
                margin-top: 44px;
            }
            &__block-1 {
                margin-top: 80px;
            }
            &__commerce-block {
                display: flex;
                &__pair {
                    width: 570px;
                }
                &__pair-2 {
                    margin-left: 40px;
                }
            }
        }
        &__screen-4 {
            &__wrapper {
                display: flex;
                width: 1170px;
                margin: 0 auto;
            }
        }
        &__screen-5 {
            &__blocks-wrapper {
                display: flex;
                justify-content: space-around;
                width: 1170px;
                margin: 0 auto;
            }
            &__block__text {
                width: 150px;
            }
            &__scheme-block {
                width: 1170px;
                margin: 0 auto;
            }
        }
        &__screen-6 {
            &__wrapper {
                display: flex;
                max-width: 1120px;
                margin: 0 auto;
            }
            &__header {
                width: 1170px;
                margin: 0 auto;
                &__line {
                width: 40%;
                margin: 0 30px 13px 30px;
                border-bottom: 1px solid #fff;
                }
            }
        }
        &__screen3and7wrapper {
            display: flex;
            width: 1160px;
            height: 340px;
            margin: 0 auto;
            padding-top: 40px;
            &__pair-1 {
                width: 315px;
                margin: 59px 143px 0 -20px;
            }
            &__pair-2 {
                width: 743px;
                height: 304px;
            }
        }
	}
    .error {
        position: relative;
        left: -16px;
        top: 3px;
        width: 255px;
    }
    .error-black {
        position: relative;
        left: 22px;
        top: -2px;
        width: 255px;
    }
    .error-mail {
        height: 0px;
        position: relative;
        top: -7px;
        left: -81px;
        white-space: nowrap;
        visibility: hidden;
    }
    .error-mail-black {
        height: 0px;
        position: relative;
        top: -2px;
        left: -156px;
        white-space: nowrap;
        visibility: hidden;
    }
    .button {
        margin-bottom: 18px;
    }
    .input-black {
        width: 250px;
    }
    .margin-top50px {
        margin-top: 0px;
    }
    .fix {
        padding-top: 0px;
    }
    .space_1 {
        margin-top: 37px;
    }
    .space_2 {
        margin-top: 25px;
    }
    .fix-2 {
        margin-top: -46px;
    }
    .orange {
        margin-top: 15px;
    }
    .fix-3 {
        height: 276px;
    }
    .fix-4 {
        height: 247px;
    }
    .fix-5 {
        height: 25px;
    }
    .input-white {
        width: 285px;
    }
    .button-white {
        width: 285px;
    }
    .error-white {
        position: relative;
        left: 3px;
        top: -2px;
        width: 255px;
    }
    .error-mail-white {
        position: relative;
        left: -150px;
        top: -2px;
        width: 255px;
    }
    .input-check {
        &__checked-icon {
            top: -28px;
            left: 223px;
            &-white {
                top: -27px;
                left: 258px;
            }
        }
        &__exclamation-icon {
            top: -28px;
            left: 215px;
            &-white {
                top: -28px;
                left: 250px;
            }
        }
    }
}
